<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>map</title>
    <link rel="stylesheet" href="https://developers.google.com//maps/documentation/javascript/demos/demos.css">
    
</head>
<body style="background-image: url(https://akifagoelectronics.com/images/back.jpg);">
    <div class="container" align = "center">
        <h1 style="font-size:300%;background-color:white;">Restaurants And Store Locations By 2065655</h1><hr>
        <div id="map" style="width:100%; height:500px;">{{map.html}}{{map.js}}</div>
    </div>   
</body>
</html>