<!DOCTYPE html>
<html>
<meta charset = "utf-8">
<title>2065655 Project</title>
<body style="background-image: url(https://akifagoelectronics.com/images/back.jpg);">
	<div align = "center">
    <article>
		<header>
			<h1 style="font-size:300%;background-color:white;">Eating Healthy Virtual Assistance By 2065655</h1>
		</header>
		<br/>
		<br/>
		
		<form action = "https://www.akifagoelectronics.com/2065655_Home/order" method = "post">
            <p style="font-size : 35pt;background-color:white;width:50%">Enter Food Item To Buy:</p>
            <p><input style="font-size : 30pt;background-color:white;text-align:center;width:30%" type = "text" name = "nm" /></p>
            <p><input style="font-size : 30pt;color:white;border:3px solid white; background-color: brown;" type = "submit" value = "Proceed To Buy" /></p>
        </form>  
	</article>
	</div>
</body>
</html>